* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

.wrapper {
    margin: 50px auto 50px;
    text-align: center;
    max-width: 600px;
    padding: 0 10px;
}

.col {
    display: inline-block;
    margin: 10px 0;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

h1 {
    border-bottom: 2px solid #0d3fa2;
    color: #46565d;
    font-size: 25px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

h3 {
    color: #46565d;
    font-size: 20px;
    margin-bottom: 10px;
}

input { outline: none; }

input[type=text] {
    border: 1px solid #5fabec;
    border-radius: 3px;
    background: #f3f3f3;
    height: 35px;
    /*margin-bottom: 30px;*/
    outline: none;
    padding: 0 10px;
}

.number { width: 180px; }

.base { width: 50px; }

input[type=radio] {
    margin: 0 5px 0 15px;
}

.select-style {
    border: 1px solid #5fabec;
    background: #f3f3f3;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    width: 130px;
}

.select-style:before,
.select-style:after {
    background: black;
    content: "";
    height: 3px;
    position: absolute;
    right: 0;
    top: 17px;
    width: 10px;
}

.select-style:before {
    right: 16px;
    transform: rotate(45deg);
}

.select-style:after {
    right: 10px;
    transform: rotate(-45deg);
}

.select-style select {
    background: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    padding: 12px 10px;
    -webkit-appearance: none;
    width: 100%;
}

.conversor {
    background: #2572da;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    height: 35px;
    margin-top: 35px;
    padding: 0 20px;
    text-transform: uppercase;
}

.conversor:hover {
    background: #0d3fa2;
}

.result {
    color: orange;
    font-size: 35px;
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .col {
        margin: 0 20px;
        width: auto;
    }
}

